.catalog-container {
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    .catalog-category {
        display: grid;
        grid-template-columns: auto auto auto;
        margin-left: auto;
        margin-right: auto;
        .catalog-item{
            float: left;
            margin-left: 20px;
        }
    }
    .Cups{
        width:100%;
        max-width: 200px;
        height: auto;
    }
    .Shirts{
        width:100%;
        max-width: 250px;
        height:auto;
    }
    .Shoes{
        width: 100%;
        max-width: 200px;
        max-height: 175px;
        height: auto;
    }
    .Controllers{
        width:100%;
        max-width: 200px;
        height: 175px;
    }
}

@media (max-width: 479px) {
    .catalog-container{
        .catalog-category{
            display: grid;
            grid-template-columns: auto auto;
            width: 100%;
            .catalog-item{
                
            }
        }
    }
  } 

