.catalog-container {
    overflow: hidden;
    display: grid;
    grid-template-columns: auto auto;
    .catalog-category {
        text-align: center;
        .catalog-item{
            float: left;
            margin-left: 20px;
        }
    }
    .Cups{
        width: 200px;
        height: 175px;
    }
    .Shirts{
        width: 200px;
    }
    .Shoes{
        width: 200px;
        height: 175px;
    }
    .Controllers{
        width: 200px;
        height: 175px;
    }
}

@media (max-width: 920px) {
    .catalog-container {
        grid-template-columns: auto auto;
    }
  } 

