.cartImg {
    width: 15px;
}

.nav{
    overflow: hidden;
    background-color: #333;
    a{
        color: white;
        float:left;
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        &:hover{
            background-color: gold;
        }
    }
    .cartDiv{
        width:48px;
    }
}

