@import './navbar';
@import './catalog';
@import './itemPage';
@import './cart';
@import './confirmation';
@import './orders';

.title{
    text-transform: uppercase;
    font-family: 'Raleway';
}

@font-face {
    font-family: 'Raleway';
    src:  url('./fonts/Raleway2.ttf')format("truetype");
}
@font-face {
    font-family: 'Lato';
    src:  url('./fonts/Lato-Light.ttf')format("truetype");
}
@font-face{
    font-family: 'Lato-Bold';
    src: url('./fonts/Lato-Bold.ttf')format("truetype");
}

