.nav {
  font-family: "Raleway";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  background-color: #333;
}

.nav p {
  color: white;
  float: right;
}

.nav a {
  color: white;
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav a:hover {
  background-color: purple;
}

.nav .resp {
  display: none;
}

@media (max-width: 800px) {
  .nav a:not(:last-child) {
    display: none;
  }
  .nav .resp {
    display: block;
  }
  .nav-responsive {
    position: relative;
    background-color: #333;
  }
  .nav-responsive .resp {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav-responsive a {
    float: none;
    display: block;
    text-align: left;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
}

@-webkit-keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.catalog-container {
  -webkit-animation: fadeInAnimation ease 3s;
          animation: fadeInAnimation ease 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.catalog-container h2 {
  font-family: "Lato";
  text-transform: uppercase;
}

.catalog-container ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  text-align: center;
}

.catalog-container ul li {
  list-style: none;
}

.catalog-container .catalog-category {
  font-family: 'Raleway';
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  margin-left: auto;
  margin-right: auto;
}

.catalog-container .catalog-category .catalog-item {
  float: left;
  margin-left: 20px;
}

.catalog-container .catalog-category .catalog-item a {
  text-decoration: none;
  color: inherit;
}

.catalog-container .catalog-category .catalog-item a:hover {
  text-decoration: underline;
}

.catalog-container .catalog-category .catalog-item:hover {
  background-color: #d3d3d3;
}

.catalog-container .Cups {
  width: 80%;
  max-width: 200px;
  height: auto;
}

.catalog-container .Shirts {
  width: 100%;
  max-width: 250px;
  height: auto;
}

.catalog-container .Shoes {
  width: 100%;
  max-width: 200px;
  max-height: 175px;
  height: auto;
}

.catalog-container .Controllers {
  width: 100%;
  max-width: 200px;
  height: 175px;
}

@media (max-width: 479px) {
  .catalog-container .catalog-category {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    width: 100%;
  }
}

.item-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  font-family: "Lato";
}

.item-container .stock {
  font-family: "Lato-bold";
  color: green;
}

.item-container img {
  max-width: 500px;
}

@media (max-width: 690px) {
  .item-container {
    display: inline;
    background-color: red;
  }
  .item-container img {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .item-container .item-options {
    font-size: x-large;
  }
  .item-container .item-options button {
    height: auto;
    width: 100px;
  }
}

.cart-item-container {
  display: inline-block;
  width: 100%;
  padding-top: 15px;
}

.cart-item-container .cart-info {
  float: left;
}

.cart-item-container .cart-img {
  float: right;
}

.cart-item-container .cart-img img {
  max-width: 150px;
}

.order-item-container {
  display: inline-block;
  width: 100%;
  padding-top: 15px;
}

.order-item-container .order-item-info {
  float: left;
}

.order-item-container .order-item-img {
  float: right;
}

.order-item-container .order-item-img img {
  max-width: 150px;
}

.order-history-container li {
  list-style: none;
}

.title {
  text-transform: uppercase;
  font-family: 'Raleway';
}

@font-face {
  font-family: 'Raleway';
  src: url("./fonts/Raleway2.ttf") format("truetype");
}

@font-face {
  font-family: 'Lato';
  src: url("./fonts/Lato-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Lato-Bold';
  src: url("./fonts/Lato-Bold.ttf") format("truetype");
}
/*# sourceMappingURL=index.css.map */