.cart {
    width: 3%;
    float:right;
    margin-left: 300px;
}
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: gray;
}

.nav ul li {
    float: left;
    padding: 1%;
}